---
import Layout from '@ui/layouts/Layout.astro'
import { ContactButton } from '@ui/components/ContactButton'
import { Navigation } from '@ui/components/UrlContext/Navigation'
import { TabView } from '@ui/components/UrlContext/TabView'
---

<Layout
  title='Kevin Cole'
  description='Fullstack Software Developer'
  preview='/preview.png'
>
  <main class='h-full overflow-y-auto'>
    <Navigation client:load />
    <ContactButton client:load />
    <TabView client:load />
  </main>
</Layout>
